/*#header {
  width: 5%;

}
.jumbotron h1 {
  text-align: center;
}

.mid-section img {

}*/
.jumbotron {
  color: white;
  text-align: center;
  background-color: #0B486B;
}

.btn-warning {
  margin: 25px;
}
